<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body> 
    <header>
        <h1>The Fruits App</h1>
        <a href="/fruits"><button>Back to Main</button></a>
    </header>
    <main>
        <div>
            <form action="/fruits" method="post">
                <fieldset>
                    <legend>Create a New Fruit</legend>
                    <label>Name: <input type="text" name="name" placeholder="Name of Fruit"></label>
                    <label>Color: <input type="text" name="color" placeholder="Color of Fruit"></label>
                    <label>Ready to Eat: <input type="checkbox" name="readyToEat"></label>
                </fieldset>
                <button>Create New Fruit</button>
            </form>
        </div>
    </main>
   
</body>
</html>